@import url(_reset.css);
@import url(_variables.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Prata&display=swap");

body {
  background-color: var(--secundary-color);
  color: var(--contrast-dark-color);
  font-family: var(--font-family-body);
}

.container {
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
}

.reducir_imagen_home {
  width: 35rem;

}

.reducir_imagen_home:hover {
  transition: 1s;
  transform: scale(1.1);
  
}

.logos:hover {
  transform: scale(1.1);

}

.flex {
  display: flex;
}

.flex--center {
  align-items: center;
  justify-content: space-evenly;
}

.flex--logo {
  align-items: center;
  justify-content: space-evenly;
}

.flex--column {
  flex-direction: column;
}

.title-page {
  display: flex;
  align-items: center;
  font-family: var(--font-family-title-page);
  font-size: var(--font-size-title-page);
  background-color: var(--contrast-light-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  height: 4.75rem;
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  justify-content: center;
}


@media (max-width: 650px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .flex--center {
    align-items: center;
    justify-content: space-between;
  }

  .flex--logo {
    margin-top: 5rem ;
    align-items: center;
    justify-content: space-between;
  }

}

@media (max-width: 360px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (max-width: 860px) {
  .title-page {
    font-size: 1.80rem;
  }
}

@media (max-width: 410px) {
  .title-page {
    font-size: 1.50rem;
  }
}

@media (max-width: 1250px) {
  .reducir_imagen_home {
    width: 23rem;
  }
}

@media (max-width: 860px) {
  .reducir_imagen_home {
    width: 18rem;
  }
}

@media (max-width: 960px) {
  .container {
    padding-left: calc((100vw - 900px) / 2);
    padding-right: calc((100vw - 900px) / 2);
  }
}