.colaborador {
    width: 280px;
    margin-bottom: 24px;
    position: relative;
    margin-left: 5rem;
    margin-right: 1rem;
}

.colaborador .encabezado {
    background-color: rgb(87, 194, 120);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 12px 6px 51px 27px rgba(0,0,0,0.33);
    -webkit-box-shadow: -12px 33px 60px -15px rgba(0,0,0,0.33);
    margin-right: 2rem;
}
.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .info {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 12px 6px 51px 27px rgba(0,0,0,0.33);
    -webkit-box-shadow: -12px 33px 60px -15px rgba(0,0,0,0.33);
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.colaborador .info h4 {
    color: #213fec;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
   
}

.colaborador .info h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 24px;
    font-weight: 400;
    margin: 0;
}


.equipo {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.regresar{
    width: 100px;
    position: absolute;
    margin-top: -3rem;
    font-size: 47px;
    transition: width 1s;
    margin-left: 5rem;

}

.margen_flecha{
    margin-right: 10rem;
}

.regresar:hover{
    transform: scale(1.1);
    width: 200px;
    color: darkblue;
}
