.header {
  background-color: var(--contrast-light-color);
  border-radius: 0 0 10px 10px;
  box-shadow: var(--shadow);
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 4.75rem;
  justify-content: space-evenly;
}

.header__logo {
  width: 19rem;
}

.header__logo:hover {
  transition: 1s;
  transform: scale(1.1);
}

.menu-header {
  position: fixed;
  left: -100vw;
  top: 0;
  background-color: var(--contrast-light-color);
  width: 70vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: var(--font-size-menu-header-item);
  font-weight: var(--font-menu-header-item);
  z-index: 10;
  transition: 0.25s;

}

.menu-item {
  display: block;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--cor-divisao);

}

.menu-item--entrar {
  background-color: var(--primary-color);
  color: var(--contrast-light-color);
  border: none;
}


@media (min-width: 860px) {
  .header {
    grid-template-areas: "menu logo .";
    height: 6.75rem;
    display: flex;
    justify-content: space-evenly;

  }

  .header__logo {
    width: 25rem;
  }

  .header__logo:hover {
    transition: 1s;
    transform: scale(1.1);
  }

  .header-container {
    grid-area: logo;
  }

  .menu-header {
    justify-self: flex-start;
    position: static;
    width: fit-content;
    height: fit-content;
    grid-area: menu;
  }


  .menu-header-background {
    display: none;
  }

  .menu-items {
    display: flex;
    align-items: center;
  }

  .menu-item {
    border-width: 3px;
    padding: 0;
    margin-right: 1rem;
    font-weight: 1000;
  }

  .menu-item:hover {
    border-color: #0c3c7a;
    transform: scale(1.1);
  }
}

@media (max-width: 410px) {
  .header__logo {
    width: 14rem;
  }
}